html {
	overflow: hidden;
	touch-action: none;
	content-zooming: none;
}

body {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 200%;
	height: 200%;
	background: #ddd;
}

canvas {
	position: absolute;
	width: 200%;
	height: 200%;
	background: #000;
	cursor: pointer;
}

<p class="bg-primary">...</p>
